.header {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background-color: #fff;
  background-size: contain;
  background-position: 130%;
  background-repeat: no-repeat;
}

.header__wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.header__content-block {
  max-width: 400px;
  background-color: #fff;
  border-radius: 2rem;
  padding-right: 2rem;
}

.header__title {
  text-align: left;
}

@media screen and (max-width: 1024px) {
  .header {
    align-items: flex-start;
    background-position: right bottom;
  }

  .header__content {
    max-width: 100%;
    text-align: center;
  }

  .header__title {
    text-align: center;
  }
}