<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Form</title>
</head>
<body>
  <form action="http://localhost:3000/pages" method="post">
    <label for="titel">
      Title:
      <input type="text" name="title" id="title">
    </label>
    <label for="titel">
      Slug:
      <input type="text" name="slug" id="slug">
    </label>
    <label for="description">
      Description:
      <input type="text" name="description" id="description">
    </label>
    <div>
      <button type="submit">Submit</button>
    </div>
  </form>
</body>
</html>
